<div class="add">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group add-nav">
                <li class="list-group-item add-item" data-toggle="modal" data-target="#addNewMods">Add New Moderators
                </li>
                <li class="list-group-item add-item" data-toggle="modal" data-target="#addNewInterviewers">Add New
                    Applicants
                </li>
                <li class="list-group-item add-item">Set/Edit Time Slots</li>
                <li class="list-group-item add-item">Set/Edit Questions</li>
                <li class="list-group-item add-item">Aggregate Scores</li>
            </ul>
        </div>
        <div class="col-md-8 add-established">
            <h3 id="sessionName">{{session.interviewName}}</h3>
            Start Date: <input type="date" class="form-control" ng-model="session.startDate"
                               max="{{session.endDate}}"><br/>
            End Date: <input type="date" class="form-control" ng-model="session.endDate"
                             min="{{session.startDate}}"><br/>
            Location: <input type="text" class="form-control" id="location" ng-model="session.location" disabed>
        </div>
    </div>
    <div class="row">

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewMods" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add/Modify Mods</h4>
            </div>
            <form class="modal-body" ng-submit="saveMods()">

                <div class="form-group">
                    <label for="interviewName">Number of Mods:</label>
                    <input type="number" class="form-control" ng-model="session.mods.length" disabled>
                </div>

                <div class="add-mods">
                    <label>Mods:</label><br/>

                    <div class="add-mod-item" ng-repeat="mod in session.mods">
                        <input type="text" class="form-control" placeholder="Mod Name" ng-model="mod.name">
                    </div>
                    <br/>
                    <button type="button" class="btn btn-default" ng-click="addMod()"><span
                            class="glyphicon glyphicon-plus"/></button>
                </div>
                <br/>
                <button type="submit" ng-click="saveMods()" class="btn btn-default" data-dismiss="modal">Submit
                    Changes
                </button>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveMods()" data-dismiss="modal">Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="addNewInterviewers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Applicants</h4>
            </div>
            <form class="modal-body" ng-submit="saveApplicants()">

                <div class="add-mods">
                    <div class="add-mod-item" ng-repeat="applicant in session.applicants">
                        <br/>
                        <input type="text" class="form-control" placeholder="Applicant Name"
                               ng-model="applicant.name"><br/>
                        <input type="text" class="form-control" placeholder="Applicant Email"
                               ng-model="applicant.email"><br/>
                        <input type="text" class="form-control" placeholder="Application URL"
                               ng-model="applicant.applicationURL"><br/>
                        <button type="button" class="btn btn-success" ng-click="addRestriction($index)">Add
                            Restriction
                        </button>
                        <div ng-repeat="restriction in applicant.restrictions">
                            <input type="date" class="form-control"
                                   placeholder="{{session.startDate}}" ng-model="applicant.restriction.date"/>
                            <label>From:</label>
                            <input type="time" class="form-control" placeholder="{{session.startTime}}"
                                   ng-model="applicant.restriction.startTime"/>
                            <label>To: </label>
                            <input type="time" class="form-control" placeholder="{{session.endTime}}"
                                    ng-model="applicant.restriction.endTime"/>
                        </div>

                    </div>
                    <br/>
                    <button type="button" class="btn btn-default" ng-click="addApplicant()"><span
                            class="glyphicon glyphicon-plus"/></button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveApplicants()" data-dismiss="modal">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>