<div class="col-md-12 head">
</div>

<a href="#">
    <div class="row header-cont">
        <span class="header-title col-md-offset-1">INTERVIEWER</span>
    </div>
</a>

<div class="row">
    <div class="header-nav col-md-offset-1">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="col-md-offset-1"><a href="#/about">About</a></li>
            <li class="col-md-offset-1"><a href="#/contact">Contact Us</a></li>
            <li class="col-md-offset-1"><a href="#/sessions">Dashboard</a></li>
        </ul>
    </div>
</div>